[user]
	name = user
	email = user@example.com

[core]
	editor = nvim
	excludesfile = ~/.gitignore_global

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	df = diff
	lg = log --oneline --graph --decorate

[init]
	defaultBranch = main